body {
  margin-top: 50px;
}

.left {
  float: left;
  padding: 100px;
  border-left: 40px;
  border-style: solid;
  border-color: #446600;
}

.right {
  float:right;
  padding: 100px;
  border-left: 40px;
  border-style: solid;
  border-color: #446600;
}
